{% extends 'base.html' %}

{% load static %}

{% block content %}

     <div class="container">

            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}

            <fieldset class="content-group">

                <div class="portlet portlet-boxed">
                 <div class="portlet-header">
                      <h4 class="portlet-title">
                        Parameter Upload Facilty
                      </h4>
                 </div> <!-- /.portlet-header -->
                 <div class="portlet-body">


                    <form action="/parameters/upload_csv/{{ username }}/" method="POST" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}


                    <div class="form-group">
                        <div class="col-md-8">
                            <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" >
                                    <input class="btn btn-primary" type="submit" id="submit" name="Import" value="upload">
                    </div>
                    </div>


                </form>
                 <hr/>

                 <table
                    id="batches"
                    class="table"
                    style="width:100%"
                    border="1"
                    >
                    <thead>

                    <tr>
                        <th >Batch No </th>
                        <th >Policy No</th>
                        <th >Sum Insured</th>
                        <th >Premium </th>
                        <th >Uploaded By</th>
                        <th >Uploaded Date</th>
                        <th >Reviewed By</th>
                        <th >Review Date</th>
                        <th >Processed</th>
                        <th >Processed By</th>
                        <th>#</th>
                        <th>#</th>
                        <th>#</th>

                    </tr>

                    </thead>
                    <tbody>
                       {% for batch in batches %}
                       <tr>
                           <td>{{ batch.batch_no }}</td>
                           <td>{{ batch.policy_no }}</td>
                           <td>{{ batch.sum_total }}</td>
                           <td>{{ batch.premium_total }}</td>
                           <td>{{ batch.uploaded_by }}</td>
                           <td>{{ batch.created_date }}</td>
                           <td>{{ batch.reviewed_by }}</td>
                           {% if batch.reveiwed_date is None %}
                                <td>&nbsp</td>
                           {% else %}
                                <td>{{ batch.reveiwed_date }}</td>
                           {% endif %}
                           <td>{{ batch.processed }}</td>
                           <td>{{ batch.processed_by }}</td>
                           <td><a href="/parameters/batch/{{ batch.batch_no }}/{{ username }}">(view)</a></td>
                           <td><a href="/parameters/review/{{ batch.batch_no }}/{{ username }}">(review)</a></td>
                           <td><a href="/parameters/process_batch/{{ batch.batch_no }}/{{ username }}">process</a></td>
                       </tr>
                       {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>
            </fieldset>

     </div>


{% endblock %}